
.tittle{
    padding-top: 12%;
    margin-bottom: 4%;
}

.car{
    height: 2.5rem;
    line-height: 2.5rem;
    overflow: hidden;
  
  
}
.car,.n{
    padding-left: 10%;
    
}
.car h5{
    animation: car 3s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
   
}

@keyframes car {
    0%{
        transform:translateY(0rem);
    }
    10%{
        transform:translateY(-2.5rem);
    }
    50%{
        transform:translateY(-2.5rem);
    }
    60%{
        transform:translateY(0rem);
    }
    100%{
        transform:translateY(0rem);
    }
 
}

.ifirst{
    height: 40rem;
    width: 30rem;
    object-fit: cover;
}
.un{padding-left: 10%; transform: translateY(-9rem);}
.deux{
    padding-left:16%;
    transform: translateY(-15rem);
}

.head p{
    position: sticky;
    z-index: 5;
    margin-top: 6rem;
    top: 16rem;
    text-align: center;
    mix-blend-mode: difference;
    color: white;
  
}

.about{
    padding-left: 10%;
}


.about p{
    padding-left: 20%;
}

.xp{

}
.svg{
    height: 6rem;
    width: 6rem;
    margin: 0;
    padding: 0;
    transform: translateY(.2rem) rotate(90deg);
    animation: rotate 5s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* grid 1 */


.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
}
.parent div{
   background-size: cover;
   background-position: center;
   height: 20rem;
   border-radius: 16px;
   filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.123));
}    
.div1 {
    grid-column: span 2 / span 2; background-image: url(../image/ecoreport.png);
    background-size: 125% !important;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3; background-image: url(../image/Group\ 8.png);
}

.div3 {
    grid-column-start: 3;
    grid-row-start: 1;
    background-image: url(../image/serveur.jpg);
}

.div4 {
    grid-column-start: 3;
    grid-row-start: 2;
    background-size: 135% !important;
    background-image: url(../image/ayng.png);
}

.div5 {
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 1;
    height: auto !important; background-color: cornflowerblue;
}

.div6 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
    height: auto !important; 
    background-image: url(../image/pol.png);
}



.line{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding: 0% 2%;
}
.cadre{
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    padding:7.5%;
    margin: 0
}

.work h5,.xp h5,.std h5{
    display: flex;
    justify-content: end;
    transform: translateY(-5rem);
}
.about h5{
    transform: translate(0);
    margin-top: 5rem;
}
.std{
    margin-top: -10rem;
}
.xp h5{
    margin-top: 10rem;
}
.std h5{
    margin-top: 5rem;
}

.duo{
    display: flex;
    padding: 0 20%;
    margin-top: 2rem;
    position: relative;
}
.duo img{
    width: 60rem;
    height: 30rem;
    object-fit: cover;
    position: relative;transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(1);
}
.duo::before{
    content: 'ECOBANK 6 MONTH';
    position: absolute;
    top: 0;
    left: 10rem;
    width: 30rem; /* Largeur du bloc rouge */
    font-size: 2rem;
    z-index: 2;
    height: 3rem; /* Hauteur du bloc rouge */
    padding-left: 2rem;
    background-color: rgb(0, 0, 0); 
    color: var(--swhite);
    transition: left 1s cubic-bezier(0.075, 0.82, 0.165, 1);

}
.duo img:hover{
    transform: scale(1.1) translateY(1.40rem);
}
.duo:hover::before {
    left: 50rem;
}
.cadre img{
    width: 38rem;
}

.coord h4{
 padding-left: 10%;
 margin-bottom: 3rem;
 margin-top: 9%;
}
.coord{
    padding-left: 5rem;
}

.no{
    width: 75%;padding-left: 10%;
    margin-bottom: 4rem;
}
.end{
    text-align: end;
}
.bot{
    font-size: 19rem;
    font-weight: 1000;
    
    margin: 0;
    padding: 0;
    height: 20rem;background-color: rgba(22, 81, 231, 0);
    letter-spacing: -1.5rem;
    
}

.line h5{
    
}
.oui{
    padding-left: 10%;
    width: 47%;
    font-size: 1em !important;
}
.oui h5{
    width: 16.5rem;

}

.active{
    background-color: var(--black);
    position:fixed;
    top: -50%;
    left: -25%;
    width: 150rem;
    z-index: 10;
    height: 150rem;
    border-radius: 100%;
}

.desactive{
    background-color: var(--black);
    position:fixed;
    top: -10rem;
    left: 100rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.moon{
    transition: all 2s cubic-bezier(0.77, 0, 0.175, 1);

}
.contmenu{
    position: relative;
     z-index: 25;
    color: var(--white);
    display: none;
    padding-top: 12%;
}
.overflow-hidden {
    overflow: hidden;
}
.desactive .contmenu {
    display: none;
}

.active .contmenu {
    display: flex;
}
.contmenu{
    padding-left: 25%;
    padding-top: 23%;
}
.opl{
    
    vertical-align: top;
}
.plus{
    padding-left: 10%;
}
.plu{
    margin-left: 10%;
}
.opl h4{
    margin-top: 0 !important;
    margin-bottom: 6rem;
}
.mail{
    margin-bottom: 9.95rem;
    font-size: 1.5rem;
    transform: translateY(.75rem);
}
.opl h5{
    padding-bottom: 1rem;
}
h5:hover .au {
    transform: rotate(90deg);
  
}
.au{
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.up{
    display: flex;
    margin-top: 3rem;
}
.opl h4:hover{
    color: var(--silver);
    cursor: pointer;
}

@keyframes up {
    from{
        opacity: 0;
        transform: translateY(5rem);
    }
    to{
        opacity: 1;
        transform: translateY(0rem);
    }
}

.vin{
    display: flex;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.vin img{
    width: 35rem;
    height: 33rem;
}
.ger{
    background-color: rgb(0, 0, 0);
    height: 20rem;
    padding: 0;
    display:flex;
    margin: 0;
    justify-content: space-around;
    margin-bottom: 10rem;
    width: 120%;
    transform: translateX(-11rem);
}
.ger h5{
 color: white;
 text-align: center;width: 10rem;justify-content: none !important;
 transform: translateX(-3.5rem) translateY(-3.75rem);
}
.ger img{
    width: 3rem;height: 3rem;
    margin-top: 6rem;
}

.fer{
    width: 50rem !important;
    padding-left: 0% !important;
}

.anime{
    position: absolute;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0);
    height: 31rem;
    width: 101%;
    top: -1rem;
    left: -1rem;
    padding-top: 18%;
    animation: anim 1s 2.6s forwards cubic-bezier(0, 0.045, 0.355, 1) ;

}
.anime h1{
    color: white;
    font-weight: 1000;
    font-size: 8rem;
    position: relative;
    z-index: 101;
    animation: animo 1.5s forwards cubic-bezier(0.075, 0.82, 0.165, 1);
}

.case div{
    background-color: rgb(0, 0, 0);
    height: 52rem;
    transform: translateY(-32rem);
    width: 20%;
    
    gap: 0%;
}
.case{
    display: flex;
    width: 100%;
}
.case div:nth-child(1){
 animation: anim 1s 1s forwards cubic-bezier(0, 0.045, 0.355, 1) ;
}
.case div:nth-child(2){
 animation: anim 1s 1.25s forwards cubic-bezier(0, 0.045, 0.355, 1) ;
}
.case div:nth-child(3){
 animation: anim 1s 1.5s forwards cubic-bezier(0, 0.045, 0.355, 1) ;
}
.case div:nth-child(4){
 animation: anim 1s 1.75s forwards cubic-bezier(0, 0.045, 0.355, 1) ;
}
.case div:nth-child(5){
 animation: anim 1s 2s forwards cubic-bezier(0, 0.045, 0.355, 1) ;
}

@keyframes anim {
    from{
        transform: translateY(-31rem);
    }
    to{
        transform: translateY(-85rem);
    }
}
@keyframes animo {
    0%{
        transform: translateY(0rem);
    }
    70%{
        transform: translateY(0rem);
    }
    to{
        transform: translateY(-31rem);
    }
}




@keyframes fesh {
    0%{
        opacity: 0;

    }

    10%{
        opacity: 1;

    }
    90%{
        opacity: 1;
    }

    100%{
        opacity: 0;

    }
    
}


.logoo{
    height: 4rem;
    width: 8rem;
    transform: translateX(20%);
    object-fit: cover;
}




.work h2{
    margin-bottom: 10%;
}
details {    
    border-top: 2px #dfdfdf solid;
    padding: 2em 3em 0;
    cursor: pointer ;
  }
details:last-of-type{
    border-bottom: 2px #dfdfdf solid;
    margin-bottom: 10%;
}
  
  summary {
    background-color: var(--swhite);
    font-weight: bold;
    font-size: 3rem;
    margin: -.67em -1em 0;
    padding: 0.5em;
    transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  details[open] {
    padding: 2em 3em 0;
  }
  
  details[open] summary {
    background-color: black;
    color: white;
    margin-bottom: 0.5em;
  }
  
  summary span{
    width: 32%;
    display: INLINE-FLEX;
  }
  details legend{
    padding-left: 5%;
  }
  details p{
    margin-left: 15%;
    margin-bottom: 5%;
    margin-top: 3%;
  }
  summary:hover{
    background-color: black;
    color: white;
  }
  .work a,.xp a,.about a{
    color: inherit;
  }


  .be{

    background-color: var(--swhite) !important;
    color: black !important;
    margin-top: -2rem;
    fill:black  !important;
    
  }
  .be a{
    mix-blend-mode: difference;
  }

  .horloge{
    transform: translateX(5rem);
    height: 20rem;
    overflow: hidden;
  }

  .horloge img{
    position: absolute;
    top: -10rem; 
    
  }

  .mol:nth-child(2){
    transform: scale(0.9); 
    opacity: 0.5; 
    animation: tourne1 44s linear infinite;  
  }
  .mol:nth-child(3){
    transform: scale(0.8) ; 
    opacity: 0.1;      animation: tourne2 48s linear infinite;  
  }

  .mol:nth-child(1){
    animation: tourne 68s linear infinite;  
  }

 @keyframes tourne {
    from{transform: rotate(0deg) scale(1); }
    to{transform: rotate(360deg) scale(1);;}
 }

 @keyframes tourne1 {
    from{transform: rotate(0deg) scale(0.9);}
    to{transform: rotate(360deg) scale(0.9);}
 }

 @keyframes tourne2 {
    from{transform: rotate(0deg) scale(0.8);}
    to{transform: rotate(360deg) scale(0.8);}
 }

 @font-face {
    font-family: 'go';
    src: url(../font/Poppins-Bold.ttf);
 }

 .ti{
    font-family: 'go';
    font-weight: 800 !important;
    position: relative;
    top: -7rem;
    left: -10rem;
    font-size: 13rem;
    height: 5rem;
    line-height: 10rem;
    mix-blend-mode: difference;
    color: var(--swhite);
 }

 details img{
    height: 20rem;
  
 }
 .pimg{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    width: 100%;
 }
 .middle{
    text-align: center;
   
 }
 .tr {
    transform: translateX(-5rem);
 }
 .timg {
    width: 100%;
    display: flex;
    margin: 2rem 0;
    justify-content: space-around;
 }

 .timg img{
    height: 5rem;
    transform: translateX(3.9rem);
 }
 .timg p{
    width: 10rem;
    font-size: 0.9rem;
 }