
body{
    margin: 0;
    padding: 0;
 overflow: hidden;
 
    width: 100%;
    }

    body{
        background-color: var(--seconde);
        height: 75vh;
    }
    section{
       
        height: 75vh;
        
        width: 100%;
        padding: 2% 0;
       
    }
    table{
        display: flex;
        justify-content: center;
      
        }
h
    table , td, th {
        border: 1px solid #59595900;
        border-collapse: collapse;
       
    }
    td, th {
        padding: 3px;
        width: 40rem;
        height: 25px;
        margin-bottom: 1vh;
    }
    td{
        width: 45rem;
    }
    button {
        background: none;
        border: none;
        color: var(--main-color);
        cursor: pointer;
    }

    @keyframes step {
       
        0%{transform: scale(.95);}
        50%{transform: scale(1);opacity: 1;}
        100%{transform: scale(.95);}
    }
    table{
       
    }

    .bout{
        animation: step 5s 1s infinite ease-in-out;   opacity: 0;font-size: 5vw; 
    }
    .boutt{
        animation: step 5s 1.3s infinite ease-in-out;  opacity: 0; font-size: 5vw; 
    }
    .bouttt{
        animation: step 5s 1.4s infinite ease-in-out; opacity: 0; font-size: 5vw;  
    }
    .boutttt{
        animation: step 5s 1.6s infinite ease-in-out; opacity: 0; font-size: 5vw;  
    }
    .boud{
        animation: step 5s 1.8s infinite ease-in-out; opacity: 0;  font-size: 5vw; 
    }
    .boudd{
        animation: step 5s 2s infinite ease-in-out; opacity: 0;  font-size: 5vw; 
    }
    .bouddd{
        animation: step 5s 2.3s infinite ease-in-out; opacity: 0; font-size: 5vw;  
    }
    .bou{
        animation: step 5s 2.4s infinite ease-in-out;  opacity: 0; font-size: 5vw; 
    }
    .bou,.boud,.boudd,.bouddd,.bout,.boutt,.bouttt,.boutttt{
        text-align: center;
    }
    
    
    @media screen and (max-width: 768px) {
        table{
           margin-top: 5rem;
           height: 30rem;
        }
        td, th {
            padding: 3px;
            width: 40rem;
            height: 25px;
            
        }
        .bou,.boud,.boudd,.bouddd,.bout,.boutt,.bouttt,.boutttt{
            margin-bottom: 8vh;
        }
    }
    
    @media screen and (max-width: 576px) {
        table{
        
        }
    }
