
body{
    margin: 0;
    padding: 0;
 overflow: hidden;
    background-color: black;
    width: 100%;
    }

    body{
        background-color: var(--seconde);
    }
    section{
       
        height: 75vh;
        
        width: 100%;
        padding: 2% 0;
       
    }
    table{
        display: flex;
        justify-content: center;
        }

    table , td, th {
        border: 1px solid #59595900;
        border-collapse: collapse;
       
    }
    td, th {
        padding: 3px;
        width: 40rem;
        height: 25px;
       
    }
    td{
        width: 45rem;
    }
    button {
        background: none;
        border: none;
        color: var(--main-color);
        cursor: pointer;
    }

    @keyframes step {
       
        0%{transform: scale(.95);}
        50%{transform: scale(1);opacity: 1;}
        100%{transform: scale(.95);}
    }

    .bout{
        animation: step 3s 1s infinite ease-in-out;   opacity: 0;
    }
    .boutt{
        animation: step 3s 1.3s infinite ease-in-out;  opacity: 0; 
    }
    .bouttt{
        animation: step 3s 1.4s infinite ease-in-out; opacity: 0;  
    }
    .boutttt{
        animation: step 3s 1.6s infinite ease-in-out; opacity: 0;  
    }
    .boud{
        animation: step 3s 1.8s infinite ease-in-out; opacity: 0;  
    }
    .boudd{
        animation: step 3s 2s infinite ease-in-out; opacity: 0;  
    }
    .bouddd{
        animation: step 3s 2.3s infinite ease-in-out; opacity: 0;  
    }
    .bou{
        animation: step 3s 2.4s infinite ease-in-out;  opacity: 0; 
    }
    
    
    
    
