body{
    overflow: hidden;
}
.contact{
    height: 76vh;
    width: 100%;
    display: flex;
    overflow: hidden;
}

h2{font-size: 16.75vw;margin: 5% auto 0;
line-height: 18rem;}

button{
    border: none;
    background: transparent;
}

#sun {
    background: none;
    border: none;
    color: var(--main-color);
    cursor: pointer;
}

button i{
    transform: scale(1);
}

i{
    transform: scale(.7);
}
.gray{
    filter: brightness(50%);
}


i:hover{
    color: gray;
}


.sept{

    justify-content: space-between;
    display: flex;
  }
  .septt{
      text-align: start;
      width: 15rem;
     
  }
  .septt:hover{

  }
  .septt:hover::before {

    height: .6rem;
    margin-top: 13rem;

}
  .septt::before{
      content: '';
      position: absolute;
      background-color: white;
      z-index: -1;
      transition: all .5s ease-in-out;
      margin-top: 12rem;
      height: .2rem;
      width: 13rem;
  }
@media only screen and (min-width: 320px) and (max-width: 780px) {

 
    
}