.contact{
    height: 75vh;
    width: 100%;
    display: flex;
}

.contact div:nth-child(1){width:60% ; }
.contact div:nth-child(2){width: 2%;}
.contact div:nth-child(3){width:34% ; }

.contact div:nth-child(2) h6{transform: rotate(-90deg); padding: 17rem 0; } 
.contact div:nth-child(3) h6{text-align: center;}

.shanone{
    height: 58rem;
}
.rec{display: flex;justify-content: space-between;width: 100%; }