body{
    background: radial-gradient(circle, rgb(54, 54, 54) 0%, rgba(0,0,0,1) 49%);  
      overflow: hidden;
    color: white;
    height: 100vh;
}

@font-face {
    font-family: 'Inder'; /* Le nom que vous voulez donner à la police */
    src: url('./font/Inder-Regular.ttf') format('truetype'); /* Chemin vers le fichier TrueType */
}
video{
    position: fixed;
    top: -1rem;
    left: -1rem;
    display: none;
}

.first{
    background-color: rgb(0, 0, 0);
    position: absolute;
    z-index: 4;
    top: -1rem;
 
    left: -1rem;
    height: 48.5rem;
    width: 110%;
    animation: spare 1s 4.2s ease-in-out forwards;
}
.rem{
    
    position: absolute;
    z-index: 1;
    top: 11.5rem;
    left: 25.2rem;
    transform: scale(50);
    animation: grade 1.2s 4.3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@keyframes grade {
    0%{
     transform: scale(50);
    }
    60%{
        transform: scale(0.6);
    }
    100%{
        transform: scale(1);
    }
}

.first h1{
    font-family: 'Inder',sans-serif;
    font-size: 6rem;
    position: relative;
    top: 13rem;
    left: 10rem;
}
.first h1 span {
    opacity: 0; /* Masquer initialement les spans */
    position: relative;
    
  }

  .first h1 span:nth-child(1){animation: fadeIn 2s cubic-bezier( 0.66, 0.02, 0, 0.99 ) forwards;}
  .first h1 span:nth-child(2){animation: fadeIn 2s 0.5s cubic-bezier( 0.66, 0.02, 0, 0.99 ) forwards;}
  .first h1 span:nth-child(3){animation: fadeIn 2s 1s cubic-bezier( 0.66, 0.02, 0, 0.99 ) forwards;}

 
  @keyframes fadeIn {
    from {
        opacity: 0;
        top: 5rem;
    }
    to {
        opacity: 1;
        top: 0rem;
    }
  }

  @keyframes fadeOut {
    from {
        opacity: 1;
        top: 0rem;
    }
    to {
        opacity: 0;
        top: -5rem;
    }
  }

  @keyframes spare {
    from {
        opacity: 1;
        
    }
    to {
        opacity: 0;
       
    }
  }

.gray{
    color: rgb(127, 127, 127);
}

.second{
    
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    z-index: 3;
    height: 45.5rem;
    width: 99.5%;
}
.top{
    background-color: rgba(0, 128, 0, 0);
    display: flex;
    justify-content: space-evenly;
    padding: 0% 2%;
    margin-top: 16rem;
}
.top h1{
    font-size: 5rem;
    font-family: 'Inder',sans-serif;
    text-shadow: 0 0 15px black;
    position: relative;
    animation: fadeIn 2s 5.2s  cubic-bezier( 0.66, 0.02, 0, 0.99 ) forwards;
    opacity: 0;
}

.top h1:nth-child(2){
    text-align: end;
}

.bottom{
    display: flex;
    justify-content: space-between;
    justify-content: space-between;
    padding: 0% 1%;
    font-family: 'Inder',sans-serif;
    font-size: 0.7rem;
    
}
.bottom div{
    width: 25rem;
}
.alternance{text-align: center;
    animation: fadeIn 2s 5.6s cubic-bezier( 0.66, 0.02, 0, 0.99 ) forwards;
    position: relative;
    opacity: 0;
}

.localisation{text-align: end;
    animation: fadeInL 2s 5.8s cubic-bezier( 0.66, 0.02, 0, 0.99 ) forwards;
position: relative;
opacity: 0;}

.contact{
    animation: fadeInG 2s 5.8s cubic-bezier( 0.66, 0.02, 0, 0.99 ) forwards;
position: relative;
opacity: 0;}
  
.dd{
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 40%;
  transform: scale(3);
}

@keyframes fadeInL {
    from {
        opacity: 0;
        left: 5rem;
    }
    to {
        opacity: 1;
        left: 0rem;
    }
  }
  @keyframes fadeInG {
    from {
        opacity: 0;
        left: -5rem;
    }
    to {
        opacity: 1;
        left: 0rem;
    }
  }
