
html{
    margin: 0;
    padding: 0;
    
    }
    @font-face {
      font-family: 'Inder'; /* Le nom que vous voulez donner à la police */
      src: url('./font/Inder-Regular.ttf') format('truetype'); /* Chemin vers le fichier TrueType */
  }
  @font-face {
    font-family: 'Lostar'; /* Le nom que vous voulez donner à la police */
    src: url('/Long_Shot.ttf') format('truetype'); /* Chemin vers le fichier TrueType */
}
body{
margin: 0;
padding: 0;
overflow: hidden;

}
  .work{
    width: 24rem;
    
    height: 100vh;
    display: inline-block;
 
  }
  .work:nth-child(1){
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)) , url(/zx.png);
    background-position: center;
    background-size: 100%;
    transition: background-size 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
    
  }
  .work:nth-child(2){
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)) , url(/zy.png);
    background-position: center;
    background-size: 100%;
    transition: background-size 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
  }
  .work:nth-child(3){
    background-color: rgb(42, 35, 140);
  }
  .work:nth-child(4){
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)) , url(/zz.png);
    background-position: center;
    background-size: 100%;
    transition: background-size 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
  }
  .work:nth-child(5){
    background-color: rgb(201, 214, 20);
  }
  .work:nth-child(6){
    background-color: rgb(20, 117, 214);
  }

.container{
    margin: 0;
    padding: 0;
    display: flex;
    width: 1000%;
}

.work:nth-child(1) .fade{
 background-color: black;
 width: 100%;
height: 110%;
position: relative;
top: -33rem;
bottom: 0;
z-index: 1;
transform: translateY(0%);
opacity: 1;
transition: transform 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), opacity 1s ease-in-out;

}
.work:nth-child(2) .fade{
    background-color: black;
    width: 100%;
   height: 110%;
   position: relative;
   top: -33rem;
   bottom: 0;
   z-index: 1;
   transform: translateY(0%);
   opacity: 1;
   transition: transform 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), opacity 1s ease-in-out;
   
   }.work:nth-child(3) .fade{
    background-color: black;
    width: 100%;
   height: 110%;
   position: relative;
   top: -33rem;
   bottom: 0;
   z-index: 1;
   transform: translateY(0%);
   opacity: 1;
   transition: transform 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), opacity 1s ease-in-out;
   
   }.work:nth-child(4) .fade{
    background-color: black;
    width: 100%;
   height: 110%;
   position: relative;
   top: -33rem;
   bottom: 0;
   z-index: 1;
   transform: translateY(0%);
   opacity: 1;
   transition: transform 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), opacity 1s ease-in-out;
   
   }.work:nth-child(5) .fade{
    background-color: black;
    width: 100%;
   height: 110%;
   position: relative;
   top: -33rem;
   bottom: 0;
   z-index: 1;
   transform: translateY(0%);
   opacity: 1;
   transition: transform 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), opacity 1s ease-in-out;
   
   }
   .work:hover {
  background-size: 140%;
  transition: background-size 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
}
.work:hover .fade {
    transform: translateY(-110%);
}
.work:hover .tey {
  transform: translateY(100%);
}

.work:hover .title h2{
  opacity: 0;
}
.work:hover .title h3{
  opacity: 0;
}

.work div{
    position: relative;
    z-index: 2;
    color: white;
    margin: 0;
    padding: 0;
}
.tey{
    font-size: 10rem;
    position: relative;
    top: 20rem;
    left: 4.5rem;
    transform: translateY(0%);
    transition: transform 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    font-family: 'Lostar'; /* Le nom que vous voulez donner à la police */
     
}
.work a{
  text-decoration: none;
}
.title{
  top: 8rem;
  left: 4.5rem;
  font-family: 'Inder';
 
}
.title h2{
  opacity: 1;
  transition: opacity 1s 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.title h3{
  opacity: 1;
  transition: opacity 1s  cubic-bezier(0.455, 0.03, 0.515, 0.955);
}