@font-face {
    font-family: 'Inder'; /* Le nom que vous voulez donner à la police */
    src: url('./font/Inder-Regular.ttf') format('truetype'); /* Chemin vers le fichier TrueType */
}
body{

    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1{
    text-align: center;
    align-items: center;
    display: flex;
    font-size: 15.75vw !important;
    justify-content: center;
    letter-spacing: 1rem;
   
    margin-top: 25rem;
}
.tittle{
    text-align: center;
    position: relative;
    padding-top: 8rem;
    display: flex;
    animation: hop 3s forwards cubic-bezier(0.19, 1, 0.22, 1);
    justify-content: center;
    opacity: 0;
    letter-spacing: 1rem;
    margin: 0;
}
h1,h2,p{
    color: var(--main-color);
    
}
p{
    margin-top: 2rem;
}
section{
    margin-top: 6rem; font-family: 'Inder',sans-serif;
}

.first{
    top: 4rem;
    opacity: 0;
    padding: 0% 15%;
    text-align: center;
    position: relative;
    animation: hop 3s forwards cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.imgfirst:hover{
    transform: scale(1.05);
}
table{
    padding: 0% 10%;
    margin-top: 8rem;
    margin-bottom: 5rem;
}
.rouge{
    color: #C02C2C;
}
a{
    text-decoration: none;
}
.pres{
    cursor: url('./Rectangle\ 132.png'),auto;
    margin: 0% 10%;
}
.pres h4{
    width: 35rem;

   
}
.pres p{
    width: 35rem;
  
}

.pres div{

}

.imga{
    position: relative;
    top: -15rem;
    left: 40rem;
    height: 18rem;
    width: 40rem;
    transform: rotate(-5deg);
    background: url(../eco/Eco/3.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    transition-delay: 1;
}
.imgb{
    position: relative;
    top: -15rem;
    left: -45rem;
    height: 18rem;
    width: 40rem;
    transform: rotate(5deg);
    transition-delay: 1s;
    background: url(../eco/Eco/2.PNG);
    background-size: contain;
    background-repeat: no-repeat;
}
.imgc{
    position: relative;
    top: -15rem;
    left: 40rem;
    height: 18rem;
    width: 40rem;
    transform: rotate(-5deg);
    background: url(../eco/Eco/mapping\ -\ liste.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    transition-delay: 1;
}
.imgd{
    position: relative;
    top: -15rem;
    left: -45rem;
    height: 18rem;
    width: 40rem;
    transform: rotate(5deg);
    transition-delay: 1s;
    background: url(../eco/Eco/mapping\ -\ liste\ valeurs.PNG);
    background-size: contain;
    background-repeat: no-repeat;
}.imge{
    position: relative;
    top: -15rem;
    left: 40rem;
    height: 18rem;
    width: 40rem;
    transform: rotate(-5deg);
    background: url(../eco/Eco/mapping\ -\ nouveau.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    transition-delay: 1;
}
.imgf{
    position: relative;
    top: -15rem;
    left: -45rem;
    height: 18rem;
    width: 40rem;
    transform: rotate(5deg);
    transition-delay: 1s;
    background: url(../eco/Eco/departement.PNG);
    background-size: contain;
    background-repeat: no-repeat;
}.imgg{
    position: relative;
    top: -15rem;
    left: 40rem;
    height: 18rem;
    width: 40rem;
    transform: rotate(-5deg);
    background: url(../eco/Eco/départements.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    transition-delay: 1;
}
.imgh{
    position: relative;
    top: -15rem;
    left: -45rem;
    height: 18rem;
    width: 40rem;
    transform: rotate(5deg);
    transition-delay: 1s;
    background: url(../eco/Eco/gestion\ des\ utilisateurs.PNG);
    background-size: contain;
    background-repeat: no-repeat;
}.imgi{
    position: relative;
    top: -15rem;
    left: 40rem;
    height: 18rem;
    width: 40rem;
    transform: rotate(-5deg);
    background: url(../eco/Eco/attribuer\ revoquer.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    transition-delay: 1;
}
.zoom{
    transition: transform 1s ;
}
.zoom:hover{
    position: relative;

    transform: rotate(0) scale(2) translateX(-10rem);
    transition: transform 1s ;
}
.zoom2{
    transition: transform 1s ;
}
.zoom2:hover{
    position: relative;
   
   
    transform: rotate(0) scale(2) translateX(12rem);
    transition: transform 1s ;
}
td:hover{
    
    transform: scale(1.5);
    z-index: 2; transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}


.middle:hover {
    
    z-index: 2;
    position: relative;
}
.lefty:hover{
  transform: translateX(5rem);
  z-index: 2; 
  position: relative;
}
.righty:hover{
    transform: translateX(-5rem);
    
    position: relative;
}
td{
    transform: scale(.5);
    position: relative;
    
}


.right {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 1s;
}

.right-visible {
    opacity: 1;
    transform: translateY(0);
}


.left{
    text-align: end;
    margin-left: 70%;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
}

.left-visible{
    text-align: end;
    margin-left: 70%;
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 910px){
    .imga{
        position: relative;
        top: 8rem;
        left: -4.25rem;
        height: 18rem;
        width: 40rem;
        transform: rotate(0deg);
        background: url(../eco/Eco/3.PNG);
        background-size: contain;
        background-repeat: no-repeat;
        transition-delay: 1;
    }
    .imgb{
        position: relative;
        top: 8rem;
        left: -4.25rem;
        height: 18rem;
        width: 40rem;
        transform: rotate(0deg);
        transition-delay: 1s;
        background: url(../eco/Eco/2.PNG);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .imgc{
        position: relative;
        top: 8rem;
        left: -4.25rem;
        height: 18rem;
        width: 40rem;
        transform: rotate(0deg);
        background: url(../eco/Eco/mapping\ -\ liste.PNG);
        background-size: contain;
        background-repeat: no-repeat;
        transition-delay: 1;
    }
    .imgd{
        position: relative;
        top: 8rem;
        left: -4.25rem;
        height: 18rem;
        width: 40rem;
        transform: rotate(0deg);
        transition-delay: 1s;
        background: url(../eco/Eco/mapping\ -\ liste\ valeurs.PNG);
        background-size: contain;
        background-repeat: no-repeat;
    }.imge{
        position: relative;
        top: 8rem;
        left: -4.25rem;
        height: 18rem;
        width: 40rem;
        transform: rotate(0deg);
        background: url(../eco/Eco/mapping\ -\ nouveau.PNG);
        background-size: contain;
        background-repeat: no-repeat;
        transition-delay: 1;
    }
    .imgf{
        position: relative;
        top: 8rem;
        left: -4.25rem;
        height: 18rem;
        width: 40rem;
        transform: rotate(0deg);
        transition-delay: 1s;
        background: url(../eco/Eco/departement.PNG);
        background-size: contain;
        background-repeat: no-repeat;
    }.imgg{
        position: relative;
        top: 8rem;
        left: -4.25rem;
        height: 18rem;
        width: 40rem;
        transform: rotate(0deg);
        background: url(../eco/Eco/départements.PNG);
        background-size: contain;
        background-repeat: no-repeat;
        transition-delay: 1;
    }
    .imgh{
        position: relative;
        top: 8rem;
        left: -4.25rem;
        height: 18rem;
        width: 40rem;
        transform: rotate(5deg);
        transition-delay: 1s;
        background: url(../eco/Eco/gestion\ des\ utilisateurs.PNG);
        background-size: contain;
        background-repeat: no-repeat;
    }.imgi{
        position: relative;
        top: 8rem;
        left: -4.25rem;
        height: 18rem;
        width: 40rem;
        transform: rotate(-5deg);
        background: url(../eco/Eco/attribuer\ revoquer.PNG);
        background-size: contain;
        background-repeat: no-repeat;
        transition-delay: 1;
    }
    .zoom{
        transition: transform 1s ;
    }
    .zoom:hover{
        position: relative;
    
        transform: rotate(0) scale(1) translateX(0rem);
        transition: transform 1s ;
    }
    .zoom2{
        transition: transform 1s ;
    }
    .zoom2:hover{
        position: relative;
       
       
        transform: rotate(0) scale(1) translateX(0rem);
        transition: transform 1s ;
    }
    
    .right {
        margin-bottom: 30rem;
        opacity: 1;
        transform: translateY(20px);
        transition: opacity 0.5s, transform 1s;
    }
    
    .right-visible {
        opacity: 1;
        transform: translateY(0);
    }
    
    
    .left{
        margin-bottom: 30rem;
        text-align: end;
        margin-left: 0%;
        opacity: 1;
        transform: translateY(0px);
        transition: opacity 1s, transform 1s;
    }
    
    .left-visible{
        text-align: end;
        margin-left: 0%;
        opacity: 1;
        transform: translateY(0);
    }

}