@font-face {
    font-family: 'Inder'; /* Le nom que vous voulez donner à la police */
    src: url('./font/Inder-Regular.ttf') format('truetype'); /* Chemin vers le fichier TrueType */
}

body{
    overflow-x: hidden;
    background-color: black;
}
h1{
    
    display: flex;
    font-size: 4rem;
    justify-content: center;
    letter-spacing: 1rem;
    margin: 0;
    margin-top: 5rem;
}

h1,h2,p{
    color: white;
    font-family: 'Inder',sans-serif;
    text-align: center;
    align-items: center;
}
p{
    margin-top: 2rem;
}
