.timeline {
    list-style-type: none;
    padding: 0;
    color: var(--main-color);
    
}
.timeline-item {
    margin-bottom: 20px;
    
}
.timeline-item h6,.timeline-item h4 {

}
.timeline-item::before {
    content: "";
    display: table;
    clear: both;
}
.timeline-item::after {
    content: "";
    display: table;
    clear: both;
}
.timeline-item h4 {
    float: left;
    width: 50%;
}
.timeline-item h6 {
    float: right;
    width: 50%;
    text-align: right;
}
.timeline-item:not(:last-child)::before {
    content: "";
    display: block;
    height: .2rem;
    background-color: var(--main-color);    mix-blend-mode: difference;
    margin: 1rem 0;
}
.timeline-item:last-child::before{
    content: "";
    display: block;    mix-blend-mode: difference;
    height: .2rem;
    background-color: var(--main-color);
    margin: 1rem 0;
}
.formation{
    background-color: var(--seconde);
    position: relative;
    
    width: 15rem;
}
.grid-controls{

    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}