nav{
    position: relative;
    z-index: 11;
    width: 100%;
    height: 7vh;
    text-align: center;
}
nav ul{
    display: flex;
    justify-content:space-between;
    margin: 0 2%;
    
}
nav ul li{
    list-style: none;
    margin-left: 1.6rem;
    line-height: 9rem;
}

nav ul ul li:last-child{
    color: var(--main-color);
    
}
.h3{
    font-size: 10rem;
}
.underline{
    text-decoration: underline;
}

.menu{display: flex;
 position: absolute;
 z-index: 10;
background-color: var(--seconde);
top: -75rem;
transition: top 1s ease-in-out;
left: 0;
width: 100%;
height: 93vh;
}
.active{
    top: 0;
    
}
.menu div{
    margin: 4% 0 5% 7%;
    width: 45%;
    vertical-align: top;
}
.menu div h3{
    
    opacity: 0;
}
.menu div h3:nth-child(1){animation-delay: .5s;}
.menu div h3:nth-child(2){animation-delay: .75s;}
.menu div h3:nth-child(3){animation-delay: 1s;}
.menu div h3:nth-child(4){animation-delay: 1.25s;}
.hh{

}
.menu div a h3:hover{
  
  color: #9b9b9b;
}
.menu iframe{
   
    animation: hoplottie 2s 2.5s forwards cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes hop {
    from{
     opacity: 0;
     transform: translateY(5rem);
    }
    to{
     opacity: 1;
     transform: translateY(0rem);
    }
}

@keyframes menu {
    from{
     transform: translateY(0rem);
    }
    to{
     transform: translateY(5rem);
     opacity: 0;
    }
}



@keyframes reversehop {
    from{
    opacity: 1;
    transform: translateY(0rem);
    }
    to{
     opacity: 0;
     transform: translateY(-5rem);
    }
}
iframe{
    margin-left: -2rem ;

    min-height: 50rem;
    min-width: 50rem;
    
}

@keyframes up{
    from{
        transform: translateY(-5rem);
    }
    to{
        transform: translateY(0rem);
    }
}
@keyframes down{
    from{
        transform: translateY(5rem);
    }
    to{
        transform: translateY(0rem);
    }
}

.u{
    animation: up 2s forwards cubic-bezier(0.19, 1, 0.22, 1); transform: translateY(-5rem);
}
.uu{
    animation: up 2s .25s forwards cubic-bezier(0.19, 1, 0.22, 1); transform: translateY(-5rem);
    margin-left: 10rem;
}
.uuu{
    animation: up 2s .5s forwards cubic-bezier(0.19, 1, 0.22, 1); transform: translateY(-5rem);
}
.uuuu{
    animation: down 2s .2s forwards cubic-bezier(0.19, 1, 0.22, 1);transform: translateY(5rem);
}
.uuuuu{
    animation: down 2s .27s forwards cubic-bezier(0.19, 1, 0.22, 1);transform: translateY(5rem);
}
.uuuuuu{
    animation: down 2s .7s forwards cubic-bezier(0.19, 1, 0.22, 1);transform: translateY(5rem);
}