@import 'scss/reset';
@import 'scss/base';

body {
  padding: 32px;
  margin: 0;
  padding: 0;
}

.hero {
  height: 100%;
  color: white;
  background: rgb(0, 0, 0);
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  p {
    font-size: calc(24vw * 100 / 1440);
  }
}
.hero h1 {
  font-size: calc(54vw * 100 / 1440);
}

a {
  text-decoration: underline;
}


.T{
  color: red;
}
.work{
  width: 25%;
  background-color: red;
  height: 100%;
}

