
body{
    background-color: var(--seconde);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.tittle{
    text-align: center;
    position: relative;
    padding-top: 8rem;
    display: flex;
    animation: hop 3s forwards cubic-bezier(0.19, 1, 0.22, 1);
    justify-content: center;
    letter-spacing: 1rem;
    margin: 0;
}
.left div{
    background-size: 100%;
}

p{
    margin-top: 2rem;
}
section{
    margin-top: 6rem; font-family: 'Inder',sans-serif;
}

.first{
    top: 4rem;
    opacity: 0;
    padding: 0% 15%;
    text-align: center;
    position: relative;
    animation: hop 3s forwards cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.imgfirst:hover{
    transform: scale(1.05);
}
table{
    padding: 0% 10%;
    margin-top: 10rem;
    margin-bottom: 5rem;
}
.rouge{
    color: var(--red) !important; 
}
.pres{
    cursor: zoom-in;
    margin: 0% 10%;
}
.pres h4{
    width: 35rem;
   
}
.pres p{
    width: 35rem;
  
}

.pres div{

}

.imga{
    position: relative;
    top: -26rem;
    left: 60rem;
    height: 15rem;
    width: 40rem;
    transform: rotate(-5deg) scale(2);
    background: url(./image/pic08.png);
    transition-delay: 1; background-size: 100%;
}
.imgc{
    position: relative;
    top: -26rem;
    left: 60rem;
    height: 15rem;
    width: 40rem;
    transform: rotate(-5deg) scale(2);
    background: url(./image/pic08.png);
    transition-delay: 1; background-size: 100%;
}
.imge{
    position: relative;
    top: -26rem;
    left: 60rem;
    height: 15rem;
    width: 40rem;
    transform: rotate(-5deg) scale(2);
    background: url(./image/pic06.png);  
    transition-delay: 1; background-size: 100%;
}
.imgb{
    position: relative;
    top: -26rem;
    left: -60rem;
    height: 15rem;
    width: 40rem;
    transform: rotate(5deg) scale(2);
    transition-delay: 1s;
    background: url(./image/pic09.png); background-size: 100%;
}
.imgd{
    position: relative;
    top: -26rem;
    left: -60rem;
    height: 15rem;
    width: 40rem;
    transform: rotate(5deg) scale(2);
    transition-delay: 1s;
    background-size: 100%;
    background: url(./image/pic05.png);
}

td:hover{
    
    transform: scale(1.5);
    z-index: 2; transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}


.middle:hover {
    
    z-index: 2;
    position: relative;
}
.lefty:hover{
  transform: translateX(5rem);
  z-index: 2; 
  position: relative;
}
.righty:hover{
    transform: translateX(-5rem);
    
    position: relative;
}
td{
    transform: scale(.5);
    position: relative;
    
}


.right {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 1s;
}

.right-visible {
    opacity: 1;
    transform: translateY(0);
}


.left{
    text-align: end;
    margin-left: 70%;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
}

.left-visible{
    text-align: end;
    margin-left: 70%;
    opacity: 1;
    transform: translateY(0);
}
.zoom{
    transition: transform 1s ;
}
.zoom:hover{
    position: relative;

    transform: rotate(0) scale(4) translateX(-5rem);
    transition: transform 1s ;
}
.zoom2{
    transition: transform 1s ;
}
.zoom2:hover{
    position: relative;
   
   
    transform: rotate(0) scale(4) translateX(4rem);
    transition: transform 1s ;
}

@keyframes hop {
    from{
     opacity: 0;
     transform: translateY(15rem);
    }
    to{
     opacity: 1;
     transform: translateY(0rem);
    }
}












@media (max-width: 910px){
    .imga{
        position: relative;
        top: 10rem;
        left: -4.25rem;
        height: 15rem;
        width: 40rem;
        transform: rotate(-5deg) scale(1.25);
        background: url(./image/pic08.png);
        transition-delay: 1; background-size: 100%;
    }
    .imgc{
        position: relative;
        top: 10rem;
        left: -4.25rem;
        height: 15rem;
        width: 40rem;
        transform: rotate(-5deg) scale(1.25);
        background: url(./image/pic08.png);
        transition-delay: 1; background-size: 100%;
    }
    .imge{
        position: relative;
        top: 10rem;
        left: -4.25rem;
        height: 15rem;
        width: 40rem;
        transform: rotate(-5deg) scale(1.25);
        background: url(./image/pic06.png);  
        transition-delay: 1; background-size: 100%;
    }
    .imgb{
        position: relative;
        top: 10rem;
        left: -4.25rem;
        height: 15rem;
        width: 40rem;
        transform: scale(1.25);
        transition-delay: 1s;
        background: url(./image/pic09.png); background-size: 100%;
    }
    .imgd{
        position: relative;
        top: 10rem;
        left: -4.25rem;
        height: 15rem;
        width: 40rem;
        transform: scale(1.25);
        transition-delay: 1s;
        background-size: 100%;
        background: url(./image/pic05.png);
    }
    
    .right {
        opacity: 1;
        margin-bottom: 30rem;
        transform: translateY(0px);
        transition: opacity 0.5s, transform 1s;
    }
    
    .left{
        text-align: end;
        margin-left: 0%;
        opacity: 1;
        margin-bottom: 30rem;
        transform: translateY(0px);
        transition: opacity 1s, transform 1s;
    }
    
    .left-visible{
        opacity: 1;
        transform: translateY(0);
    }
    .zoom{
        transition: transform 1s ;
    }
    .zoom:hover{
        position: relative;
    
        transform: rotate(0) scale(0) translateX(0rem);
        transition: transform 1s ;
    }
    .zoom2{
        transition: transform 1s ;
    }
    .zoom2:hover{
        position: relative;
       
       
        transform: rotate(0) scale(0) translateX(0rem);
        transition: transform 1s ;
    }
}